#email:
#  subject: Verification code
#  smtp:
#    host: smtp.gmail.com
#    password:
#    from:
#      personalname: User register
#      address: noreply@lineus.net
#    username:
#    port: '587'
db:
  password: ''
  url: jdbc:h2:mem:testdb
  username: sa
  driver: org.h2.Driver
springdoc:
  swagger-ui:
    enabled: 'true'
    path: /swagger-ui/index.html
  api-docs:
    path: /swagger-ui/api-docs/
    enabled: 'true'
app:
  dummyDataEnabled: 'true'
  bypassAuthentication: 'true'
  jwtSecret: DigitalSecEtkEy
  password: useradmin
  errorLevel: '1'
  username: useradmin@digital.com
  jwtExpirationMs: '86400000'
spring:
  jpa:
    properties:
      hibernate:
        enable_lazy_load_no_trans: 'true'
        temp:
          use_jdbc_metadata_defaults: 'false'
        format_sql: 'true'
        dialect: org.hibernate.dialect.H2Dialect
        use_sql_comments: 'true'
        show_sql: 'true'
    show-sql: 'true'
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    username: root
#    url: jdbc:mysql://localhost:3306/mydatabase
#    password: '12345'
  servlet:
    multipart:
      enabled: 'true'
      max-file-size: 28MB
      max-request-size: 28MB
  freemarker:
    suffix: .ftl
    template-loader-path: classpath:/templates
  h2:
    console:
      path: /h2-digital
      settings:
        web-allow-others: 'true'
      enabled: 'true'
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: 'false'
server:
  port: '9090'

