<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <property name="LOG_FILE" value="logs/server.log}"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="com.devteam.module.module" level="INFO"/>
</configuration>
